#name{
    color:black;
    font-size: 40px;
    box-shadow: 5px 10px 10px black;
    text-align: center;
    }

img{
    margin-left: 130px;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 100%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px black);
}
#link{
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}
#gallary{
    font-size: 40px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    color:black;
}
body{
    background-color: rgb(139, 108, 52)

}
button{
    background-color: gray;
    font-size: large;
}
#rahul{
    margin-left: 200px;
    margin-top: 30px;
}